.container {
	margin: 208px auto;
	display: table;
	width: 578px;
	height: 200px;
}

svg {
	transform: translateZ(0);
	-o-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-webkit-transform: translateZ(0);
}

