
html {
    background: rgb(33,89,72); /* Old browsers */
    background: -moz-linear-gradient(left, rgba(33,89,72,1) 0%, rgba(108,193,168,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(33,89,72,1)), color-stop(100%,rgba(108,193,168,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, rgba(33,89,72,1) 0%,rgba(108,193,168,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, rgba(33,89,72,1) 0%,rgba(108,193,168,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left, rgba(33,89,72,1) 0%,rgba(108,193,168,1) 100%); /* IE10+ */
    background: linear-gradient(to right, rgba(33,89,72,1) 0%,rgba(108,193,168,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#215948', endColorstr='#6cc1a8',GradientType=1 ); /* IE6-9 */
}

.container {
	margin: 208px auto;
	display: table;
	width: 578px;
	height: 200px;
}

svg {
	margin-left: 80px;
}
